html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    background-color: #EBD8FA;
    background-color: gr;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.placeholder {
    background-color: #EBD8FA;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.navbar a {
    margin: 0 40px;
    text-decoration: none;
    color:#515070;
    font-family: Poppins;
    font-size: 27px;
}

@media (max-width:1025px) {
    .navbar {
        max-width: 150px;
    }

    .socmed {
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        padding: 0;
    }
}

.socmed {
    text-align: center;
}

.container-fluid {
    font-family: Poppins;
    font-size: 24px;
    margin-top: 25px;
    align-items: center;
}

footer {
    min-height: auto;
    margin-top: auto; 
    width: 100%;
}

.desc {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.things {
    background-color: #BAABED;
    margin-top: 90px;
    padding-top: 28px;
    padding-bottom: 150px;
}

.love {
    margin-left: 110px;
    margin-right: 110px;
}

.container {
    margin-top: 90px;
}

.containerAct {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 90px;
}

.row {
    text-align: center;
    margin-top: 90px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.col1 {
    font-size: 24px; 
    font-family: Poppins;
    font-weight: bold;
    padding: 0;
    text-align: left;
    margin-top: 0px;
    margin-right: 50px;
    margin-left: auto;
}

.col2 {
    font-family: Poppins;
    margin-top: 5px;
    margin-right: 30px;
    margin-left: auto;
    text-align: left;
    width: 30%;
}

.col3 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 50px;  
}

h1 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    margin-top: 50px;
}

h3 {
    font-family: Poppins;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}

img {
    width: 50px;
}

#linkedin {
    margin: 3px 3px;
}

#text { 
    text-align: justify;
    margin-right: 0;
}

/* table {
    font-size: 20px;
} */

.column {
    display: ;
}