{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>najwa lathifah - Story6</title>
</head>
<body style="text-align: center;">
    <div class="container-fluid" style="padding-top: 25px; padding-bottom: 50px;">
        <h2 style="font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred; font-size: 28px; font-weight: bold; margin-bottom: 70px;">✨Welcome to Story 6 PPW✨</h2>
        <table class="table">
            <tr>
                <th scope="col">
                    <a href="{% url 'story6:addActivity' %}" style="font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;">Add Activity</a>
                </th>
                <th scope="col">
                    <a href="{% url 'story6:listActivity' %}" style="font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;">List Activity</a>
                </th>
            </tr>
        </table>
    </div>
</body>
{% endblock %}