{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>list activity - najwa lathifah</title>
</head>
<body style="align-items: center; text-align: center;">
    <div class="row w-100 justify-content-center">

        {% for i in activity %}
        <div class="col-4 m-4 p-4 rounded border">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"> <b> {{ i.activity }} </b> </li>
                {% for j in person %}
                {% if j.activity == i %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        {{ j.person_name }}
                        <!-- <button>
                            <a href="{% url 'delete' id_persondel=j.pk %}">x</a>
                        </button> -->
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div style="font-size: .75em;" class="section-title mx-auto text-center my-3">
                <a href="{% url 'story6:registerPerson' id_person=i.pk %}" class="button">
                    <button> register </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
</body>
{% endblock %}
