{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>about - najwa lathifah</title>
</head>
<style>
    #about {
        font-weight: bold;
    }
</style>
<body>
    <div class="container" style="text-align: center;">
        <div class="desc">
            <div>
                <img style="width: 280px;" src="{% static 'jaja.jpg' %}">
            </div>
            <div id="text" style="margin-left: 5vw;">
                <h2 style="margin-top: 0;">I’m Najwa, but people often call me <b>Jaja</b>. I’m an undergraduate student majoring in <b>Information System at Universitas Indonesia</b> and now I’m on my 2nd year. 
                    <br>In college, I learn about programming, business, and management. Interesting, isn’t it? Apart from study, I also join an organization and some comittees in my faculty.</h2>
            </div>
        </div>
    </div>

    <div class="things">
        <h3 style="padding-top: 17px;"><b>things i love;<br>things i love to do;<br>things i'm interested in</b></h3>
        <div class="love" style="margin-top: 28px;"><h3 style="text-align: justify;">I have a lot of hobbies. 
            I love to sing, even though i don’t have a good voice. 
            I also like to watch TV series or kor/thai drama. Unfortunately, it’s so hard to do that some kind of fun because 
            nowadays i have a lot of tasks to do and don’t have much leisure time.</h3>
        </div>
        <div class="love" style="margin-top: 22px;"><h3 style="text-align: justify;">I’m not (yet) a skillful person. 
            But i do have some things that got my interest, such as technology, business, and finance/accounting. In technology, 
            i put my interest on project/product management, UX, and data. As in business, i got my interest by seeing a lot of 
            start-up CEOs and get fascinated about their successful because surely they have great leadership and management skills 
            (which motivate me to develop myself even more). Last but not least, i have interest in finance/accounting because i have 
            been dealing with money management related since junior high school and i always had a lot of fun while doing that. 
            I think it will be much better if i have time to study economy/accounting to upgrade this skill.</h3>
        </div>
        <div class="love" style="margin-top: 22px;"><h3 style="text-align: justify;">Here comes the last parapgraph. 
            I’m a kind of person who gets love or attracted easily to someone or something. 
            These gifs below will show you who usually makes me fangirling.</h3>
            <br>
            <br>
        </div>
        <img src="{% static 'likey3.gif' %}" style="margin-top: 0px; width: 100%;">
    </div>
</body>
{% endblock %}