{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>activity - najwa lathifah</title>
</head>
<style>
    .placeholder {
        background-color: #BAABED;
    }
    #activity {
        font-weight: bold;
    }
</style>
<body style="background-color: #BAABED;">
    <div class="containerAct">
        <h3 style="font-size: 22px;"><em><strong>FIRST HALF OF 2020</strong></em></h3>
        <img src="{% static '1sthalfof2020.gif' %}" style="margin-top: 0px; width: 100%;">
        <h2 class="love" style="text-align: center;"><em>attend suju’s concert - finance cf12 bidding and photoshoot - first meet bem - bem’s meeting - indonesia master - vidcall and bonding with friends - event div wisgan 2020 - bidding personality wisgan 2021</em></h2>
    </div>
    <div class="containerAct">
        <h3 style="font-size: 22px;"><em><strong>SECOND HALF OF 2019</strong></em></h3>
        <img src="{% static '2ndhalfof2019.gif' %}" style="margin-top: 0px; width: 100%;">
        <h2 class="love" style="text-align: center;"><em>rotunda with jakun - won vg contest on newbie cup - attend westlife’s concert - sbf gath - tortilla - parade - karaoke ot11 - my birthday surprise - my first comittee in pacil (wisgan!) - syntax</em></h2>
    </div>
    <div class="containerAct" style="margin-bottom: 150px;">
        <h3 style="font-size: 22px;"><em><strong>FIRST HALF OF 2019</strong></em></h3>
        <img src="{% static '1sthalfof2019.gif' %}" style="margin-top: 0px; width: 100%;">
        <h2 class="love" style="text-align: center;"><em>graduation - osis regen - osis farewell - hakrab - impulsive trip to ancol - future park jkt - yearbook photoshoot - indonesia master - my first pemilu</em></h2>
    </div>
</body>
{% endblock %}
