<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'logo.png' %}">
</head>
<body>
    <div class="placeholder">
        <nav class="navbar">
            <div class="container-navbar" id="theNav" style="margin-top: 15px;">
                <a id="home" href = "{% url 'story3:index' %}">home</a>
                <a id="about" href = "{% url 'story3:about' %}">about</a>
                <a id="resume" href = "{% url 'story3:resume' %}">resume</a>
                <a id="activity" href = "{% url 'story3:activity' %}">activity</a>
                <a id="story1" href = "{% url 'story3:story1' %}">story#1</a>
            </div>
        </nav>
    </div>

    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <footer style="background-color: #966FD6;">
        <div class = "socmed">
            <h3 style="font-size: 18px; padding-top: 10px;">contact me</h3>
            <a class="logo" href="https://www.instagram.com/najwalathifah/?hl=en"><img src="{% static 'instagram.png' %}"></a>
            <a class="logo" id="linkedin" href="https://www.linkedin.com/in/najwalathifah/"><img src="{% static 'linkedin.svg' %}"></a>
            <a class="logo" href="mailto:najwalathifah11@gmail.com"><img src="{% static 'email.png' %}"></a>
            <h3 style="font-size: 10px; padding-top: 15px;">©2020 Najwa Lathifah, All Rights Reserved</h3>
        </div>
    </footer>
</body>
</html>
