{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>college course - najwa lathifah</title>
</head>
<body style="text-align: center;">
    <div class="container-fluid" style="padding-top: 25px; padding-bottom: 50px;">
        <table class="table" style="font-size: 14px; text-align: left;">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Lecturer Name</th>
                    <th scope="col">SKS</th>
                    <th scope="col">Description</th>
                    <th scope="col">Term</th>
                    <th scope="col">Room</th>
                    <th scope="col">Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for matkul in matkuls %}
                <tr>
                    <td>{{ matkul.courseName }}</td>
                    <td>{{ matkul.lecturerName }}</td>
                    <td>{{ matkul.sks }}</td>
                    <td>{{ matkul.courseDesc }}</td>
                    <td>{{ matkul.term }}</td>
                    <td>{{ matkul.room }}</td>
                    <td>
                        <a href="/delete/{{matkul.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 style="font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;"><b><em>if you want to go back</em></b></h2>
        <a style="font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;" href="{% url 'story3:matkul' %}">click me</a>
    </div>
</body>
{% endblock %}