{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>najwa lathifah</title>
</head>
<style>
    #home {
        font-weight: bold;
    }
</style>
<body style="text-align: center;">
    <div class="container-fluid" style="padding-top: 25px; padding-bottom: 50px;">
        <h1>Najwa Lathifah Ulima</h1>
        <h2 style="text-align: center;">Hello! Welcome to my personal website😊<br>
        Let’s have a look around and i hope you enjoy the ride!</h2>

        <h2 style="text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;"><b><em>new feature</em></b></h2>
        <a style="text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;" href="{% url 'story3:matkul' %}">college courses</a>

        <h2 style="text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;"><b><em>STORY 6</em></b></h2>
        <a style="text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;" href="{% url 'story6:indexStory6' %}">my activities</a>

    </div>
</body>
{% endblock %}