{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>college course - najwa lathifah</title>
</head>
<body style="align-items: center; text-align: center;">
    <div class="container-fluid" style="padding-top: 25px; padding-bottom: 5px; text-align: left;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <input type="submit" style="margin-left: 320px; background-color: palevioletred;">
        </form>
    </div style="align-items: center">
    <div class="container-fluid" style="padding-bottom: 50px; align-items: center;">
        <h2 style="text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;"><b><em>click below to see the course list</em></b></h2>
        <a style= "width:100% ;text-align: center; font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif; color: palevioletred;" href="{% url 'story3:dataMatkul' %}">here</a>
    </div>
</body>
{% endblock %}