{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>resume - najwa lathifah</title>
</head>
<style>
    #resume {
        font-weight: bold;
    }
</style>
<body style="align-items: center;">
    <div class="row">
        <div class="col1" style="margin-right: 87px;">
            Education
        </div>
        <div class="col2" style="margin-right: 70px;">
            <b>Universitas Indonesia</b><br>Information System
            <br>
            <br>
            <b>SMAN 3 Depok</b><br>Math and Natural Science
            <br>
            <br>
            <b>SMPN 3 Depok</b>
        </div>
        <div class="col3">
            2019 - Present
            <br>
            <br>
            <br>
            2016 - 2019
            <br>
            <br>
            <br>
            2013 - 2016
        </div>
    </div>

    <div class="row">
        <div class="col1">
            Organization
        </div>
        <div class="col2">
            <b>BEM Fasilkom UI</b><br>Staff of Human Resource Development Bureau
            <br>
            <br>
            <b>AIESEC in UI</b><br>Internship member of Finance, Governance, & Legality
            <br>
            <br>
            <b>OSIS SMAN 3 Depok</b><br>Treasurer in 2 years of organization’s period
        </div>
        <div class="col3">
            2020 - Present
            <br>
            <br>
            <br>
            <br>
            Oct 2019 - Dec 2019
            <br>
            <br>
            <br>
            <br>
            2017 - 2019
        </div>
    </div>

    <div class="row" style="margin-bottom: 50px;">
        <div class="col1" style="margin-right: 89px;">
            Volunteer
        </div>
        <div class="col2" style="margin-right: 28px;">
            <b>COMPFEST 12</b><br>Vice Manager of Finance
            <br>
            <br>
            <b>Wisuda Ganjil 2019/2020</b><br>Staff of Event Division
            <br>
            <br>
            <b>28 Smanti Celebration Day</b><br>Treasurer 1
        </div>
        <div class="col3">
            Oct 2019 - Oct 2020
            <br>
            <br>
            <br>
            Dec 2019 - Jan 2020
            <br>
            <br>
            <br>
            Feb 2018 - Sep 2018
        </div>
    </div>
</body>
{% endblock %}