{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'story1.css' %}">
    <title>Jaja's Personal Site</title>
</head>
<style>
    .placeholder {
        background-color: #c3aed6;
    }
    #story1 {
        font-weight: bold;
    }
</style>
<body>
    <table cellspacing="25">
        <tr>
            <td><img src="{% static 'jaja2.png' %}" alt="jaja profile picture"></td>
            <td><h1>Najwa Lathifah Ulima</h1>
                <p>Hello! My name is Jaja, an IT undergraduate student who has a strong interest in leadership and technology. Believe it or not, I'm actually (quite) love to code but sometimes my brain doesn't want to cooperate🙄. Apart from studying, I'm actively taking part in student organization and committees in my faculty. </p></td>
        </tr>
    </table>
    <hr size="3">
    <h3>Profile</h3>
    <table cellspacing="5">
        <tbody>
            <tr>
                <td>Name: </td>
                <td>Najwa Lathifah Ulima</td>
            </tr>
            <tr>
                <td>NPM: </td>
                <td>1906398925</td>
            </tr>
            <tr>
                <td>Year of: </td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Major, University: </td>
                <td>Information System, Universitas Indonesia</td>
            </tr>
        </tbody>
    </table>
    <hr size="3">
    <h3>Educational History</h3>
    <table cellspacing="5">
        <tbody>
            <col width="120">
                <tr>
                    <td>2019 - Present</td>
                    <td>Universitas Indonesia</td>
                </tr>
                <tr>
                    <td>2016 - 2019</td>
                    <td>SMAN 3 Depok</td>
                </tr>
                <tr>
                    <td>2013 - 2016</td>
                    <td>SMPN 3 Depok</td>
                </tr>
        </tbody>
    </table>
    <hr size="3">
    <h3>Hobbies</h3>
    <table> 
        <tbody>
            <tr>
                <td>🦥 Procrastinate</td>
            </tr>
            <tr>
                <td>📚 (sometimes) Studying</td>
            </tr>
            <tr>
                <td>📺 Watching TV series</td> 
            </tr>
            <tr>
                <td>🎤 Singing</td> 
            </tr>
            <tr>
                <td>👱‍♀️ Dyeing my hair</td> 
            </tr>
        </tbody>
    </table>
    <hr size="3">
    <h3>Social Media</h3>
    <table cellspacing="5">
        <tbody>
            <col width="120">
                <tr>
                    <td><a href="https://www.instagram.com/najwalathifah/?hl=en">Instagram</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.linkedin.com/in/najwalathifah/">Linkedin</a></td>
                </tr>
                <tr>
                    <td><a href="mailto:najwalathifah11@gmail.com">Email</a></td>
                </tr>
        </tbody>
    </table>
</body>
{% endblock %}
