body {
    background-color: #c3aed6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: pink;
    border-width: 5px;
    width: 10%;
}
h1 {
    color: #45046a;
}
h3 {
    color: #95389e;
}